.bg1 {
    background-color: rgb(230, 255, 255);
    height: 100vh;
    width: 100%;
}
.he1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}
.pa1 {
    color: gray;
    font-size: 20px;
}
.bt1 {
    height: 50px;
    width: 160px;
    border: 0px;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 5px;
}
.bt1:focus {
    background-color: #41f57a;
    color: white;
    transition: 0.3s;
}